.raz {
    border: 1px solid red;
}
.sticky {
    position: sticky;
    top: 50px;
    background: lightpink;
    z-index: 1;
    min-height: 100px;
}
.relative {
    position: relative;
    background: green;
}

.box {
    min-height: 100px;
}