html, body {
    /*overflow: hidden;*/
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 2vh;
    line-height: 1.3em;
    /*overflow: hidden;*/
}

body {
    background: #519960;
}

.display-none {
    display: none;
    transition: all 1s ease;
}

.right-zero {
    right: 0;
    transition: all 1s ease;
}

.slide-active {
    top: 0;
    opacity: 1;
    transition: all 2s ease;
}

.slide-inactive {
    top: -100vh;
    opacity: 0;
    transition: all 2s ease;
}

.slide-inactive-down {
    top: 150vh;
    opacity: 0;
    transition: all 2s ease;
}

/*slider interviews*/
.interviews {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.interview-slide {
    scroll-snap-align: start;
}

/* Hide the scrollbar */
.interviews::-webkit-scrollbar {
    display: none; /* Safari, Google Chrome, Opera,  */
}
.interviews {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.interview-inactive {
    /*transform: translateX(200%);*/
    top: 200vh;
    transition: all 0.3s ease;

}

.interview-active {
    /*transform: translateX(0);*/
    top: 0;
    transition: all 0.3s ease;
}


/*slider mobile*/
.slider-mobile--inner {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.mobile-slide {
    scroll-snap-align: start;
}

.right-arrow,
.left-arrow {
    cursor: pointer;
}

/* Hide the scrollbar */
.slider-mobile--inner::-webkit-scrollbar {
    display: none; /* Safari, Google Chrome, Opera,  */
}
.slider-mobile--inner {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}



/*< 16/11*/
/*16/11 >= & < 16/10*/
/*16/10 >= & < 16/9*/
/*16/9 >= & < 15/7*/
/*> 15/7*/


@media (max-aspect-ratio: 16/11) {
    #tictac-box {
        left: 24em;
    }

    #melody {
        display: none;
    }

    #melodies {
        display: none;
    }

    #play-backstage {
        width: 27em;
    }

    #interviews {
        position: absolute;
        width: 31em;
        left: 33em;
        top: 17em;
        font-size: 0.9em;
    }
}


@media (min-aspect-ratio: 16/11) and (max-aspect-ratio: 16/10) {
    #tictac-box {
        left: 24em;
    }

    #melody {
        display: none;
    }

    #melodies {
        display: none;
    }

    #play-backstage {
        width: 27em;
    }
}


@media (min-aspect-ratio: 16/10) and (max-aspect-ratio: 16/9) {
    #rythm-el {
        left: 48em;
    }

    #melody {
        display: none;
    }

    #melodies {
        display: none;
    }
}

@media (aspect-ratio: 16/9) {
    #melody {
        display: unset;
        width: 15em;
        top: -4em;
        left: 50em;
    }

    #melodies {
        display: unset;
        width: 7em;
        top: 4em;
        left: 64em;
    }

    #rythm-el {
        left: 44em;
    }
}


@media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 15/7) {
    #video-class {
        width: 40em;
    }

    #video-header1 {
        width: 40em;
        left: 35em;
        top: 35em;
    }

    #video-header2 {
        width: 40em;
        left: 35em;
        top: 37.5em;
    }
}


@media (min-aspect-ratio: 15/7) {
    #video-class {
        left: 50%;
        transform: translateX(-40%);
    }

    #video-header1, #video-header2 {
        left: 50%;
        transform: translateX(-40%);
    }

    #buttons-block {
        left: 50%;
        transform: translateX(-40%);
    }

    #melodies {

        left: 80em;
    }

    #melody {
        top: -6em;
        left: 63em;

    }

    #rythm-el {

        left: 50em;
    }
}

/*< 3/4*/
/*3/4 >= & < 1/1*/
/*1/1 >= & < 5/4*/
/*5/4 >= & < 16/10*/
/*> 16/10*/

@media (max-aspect-ratio: 3/4) {
    #join-el {
        /*width: 25em;*/
        /*bottom: 2.5em;*/
        /*top: unset;*/
        /*left: 50%;*/
        /*transform: translateX(-50%);*/

        width: 20em;
        bottom: 2.5em;
        top: unset;
        left: 40%;
        transform: translateX(-60%);
    }

    #interview-el {
        top: -4.5em;
        left: 0em;
    }

    #play-backstage {
        width: 24em;
    }

    #rythm-el {
        width: 7em;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
    }

    #white-oval {
        display: none;
    }

    #woman {
        width: 15em;
        height: 50em;
        top: 9em;
        left: -3em;
    }

    #mint-oval {
        width: 20em;
        top: 16em;
        left: -5em;
    }

    #video-class {
        display: none;
    }

    #video-header1 {
        width: 20em;
        right: 1em;
        top: 16em;
        left: unset;
    }

    #video-header2 {
        width: 20em;
        right: 1em;
        top: 19.5em;
        left: unset;
    }

    #buttons-block {
        width: 22em;
        left: 2em;
        bottom: 11em;
    }

    #tictac-box {
        /*width: 7em;*/
        /*bottom: 10em;*/
        width: 6em;
        bottom: 1em;
        right: 3em;
        left: unset;
    }

    .snd-bg--video-header {
        width: 25em;
        left: unset;
        right: 2em;
        top: 38.5em;
    }

    /*slider*/
    .snd-bg--slider {
        width: 28em;
        height: 18em;
        left: unset;
        right: -6em;
        top: 13.5em;
    }

    .sliders {
        justify-content: start;
    }

    .slider1 {
        display: none;
    }

    /*interviews*/
    .interviews {
        position: absolute;
        font-size: 0.8em;
        width: 24em;
        right: 2em;
        left: unset;
        top: 17em;
    }
}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
    #join-el {
        width: 20em;
        bottom: 2.5em;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    #interview-el {
        top: -4.5em;
        left: 0em;
    }

    #play-backstage {
        width: 24em;
    }

    #rythm-el {
        width: 7em;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
    }

    #white-oval {
        display: none;
    }

    #woman {
        width: 15em;
        height: 50em;
        top: 9em;
        left: -3em;
    }

    #mint-oval {
        width: 20em;
        top: 16em;
        left: -5em;
    }

    #video-class {
        display: none;
    }

    #video-header1 {
        width: 20em;
        right: 1em;
        top: 16em;
        left: unset;
    }

    #video-header2 {
        width: 20em;
        right: 1em;
        top: 19.5em;
        left: unset;
    }

    #buttons-block {
        width: 22em;
        left: 2em;
        bottom: 11em;
    }

    #tictac-box {
        /*width: 7em;*/
        /*bottom: 10em;*/
        width: 6em;
        bottom: 1em;
        right: 3em;
        left: unset;
        /*right: 3em;*/
        /*left: unset;*/
    }

    /*slider */
    .snd-bg--video-header {
        display: none;
        font-size: 0.8em;
        position: absolute;
        width: 40em;
        left: 3em;
        top: 49.9em;
    }

    #snd-bg--slider {
        width: 36em;
        height: 23em;
        left: 14em;
        top: 14.5em;
    }

    .sliders {
        justify-content: start;
    }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {
    #interview-el {
        top: 0.5em;
        left: -1em;
    }

    #white-oval {
        display: none;
    }

    #woman {
        top: 13em;
        left: -4em;
    }

    #mint-oval {
        width: 25em;
        top: 24em;
        left: -5em;
    }

    #join-el {
        left: 5em;
        width: 20em;
    }

    #rythm-el {
        width: 6em;
        top: 1em;
        left: 29em;
    }

    #video-class {
        width: 30em;
        left: unset;
        right: 1.5em;
        top: 17em;
    }

    #video-header1 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 32em;
    }

    #video-header2 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 35em;
    }

    #buttons-block {
        width: 30em;
        left: unset;
        bottom: 2em;
        right: 1em;
    }

    #tictac-box {
        width: 8em;
        bottom: 1em;
        left: 8em;
        z-index: 110;
    }

    /*.slider1*/
    .slider1 {
        display: unset;
    }

    .snd-bg--slider {
        left: unset;
        right: 5em;
    }

    .snd-bg--video-header {

        left: unset;
        right: 1em;
    }
}

@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 16/10) and (hover: none) and (pointer: coarse) {
    #interview-el {
        top: 0.5em;
        left: -1em;
    }

    #white-oval {
        display: none;
    }

    #woman {
        top: 13em;
        left: -4em;
    }

    #mint-oval {
        width: 25em;
        top: 24em;
        left: -5em;
    }

    #join-el {
        left: 5em;
        width: 20em;
    }

    #rythm-el {
        width: 6em;
        top: 1em;
        left: 29em;
    }

    #video-class {
        width: 30em;
        left: unset;
        right: 1.5em;
        top: 17em;
    }

    #video-header1 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 32em;
    }

    #video-header2 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 35em;
    }

    #buttons-block {
        width: 30em;
        left: unset;
        bottom: 2em;
        right: 1em;
    }

    #tictac-box {
        width: 8em;
        bottom: 1em;
        left: 8em;
        z-index: 110;
    }
}


@media (aspect-ratio: 1/1) {
    #interview-el {
        top: 0.5em;
        left: -1em;
    }

    #white-oval {
        display: none;
    }

    #woman {
        top: 13em;
        left: -4em;
    }

    #mint-oval {
        width: 20em;
        top: 20em;
        left: -5em;
    }

    #join-el {
        left: 13em;
        width: 20em;
        bottom: unset;
        top: 2em;
        right: unset;
    }

    #rythm-el {
        width: 6em;
        top: 1em;
        left: 29em;
    }

    #video-class {
        width: 30em;
        left: unset;
        right: 1.5em;
        top: 17em;
        display: unset;
    }

    #video-header1 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 32em;
    }

    #video-header2 {
        width: 30em;
        right: 1.5em;
        left: unset;
        top: 35em;
    }

    #buttons-block {
        width: 30em;
        left: unset;
        bottom: 2em;
        right: 1em;
    }

    #tictac-box {
        width: 8em;
        bottom: 1em;
        left: 8em;
        z-index: 110;
    }

    /*slider*/
    .snd-bg--slider {
        right: 0.5em;
    }
}

/*< 9/20*/
/*9/20 >= & < 195/422*/
/*195/422 >= & < 9/16*/
/*> 9/16*/

@media (max-width: 767px) {

    html, body {
        /*overflow: hidden;*/
        /*overflow-y: scroll;*/
    }

    /*::-webkit-scrollbar {*/
    /*    display: none;*/
    /*}*/


    #interview-el {
        width: 19em;
        top: -11.5em;
        left: -9em;
    }

    #interview-el img {
        content: url("https://elle.com.kz/wp-content/uploads/2016/01/tictac-4.png");
    }

    #rythm-el {
        width: 5.5em;
        top: 3em;
    }

    #play-backstage {
        width: 20em;
        top: -10em;
        right: -10em;
    }

    #video-header1 {
        width: 9em;
        top: 18em;
    }

    #video-header1 .elementor-heading-title {
        font-size: 0.7em;
        line-height: 1.2em;
        right: 0.5em;
    }

    #video-header2 {
        width: 12em;
        top: 23.3em;
        right: 0.5em;
    }

    #video-header2 .elementor-heading-title {
        font-size: 0.7em;
        line-height: 1.2em;
    }

    #woman {
        width: 13.6em;
        height: 50em;
        top: 9em;
        left: -3em;
    }

    #mint-oval {
        width: 20em;
        top: 12em;
        left: -7em;
    }

    #join-el {
        width: 15em;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }

    #buttons-block {
        display: none;
    }

    #buttons-mobile {
        left: 0.5em;
        bottom: 4em;
        display: flex;
        width: 5.5em;
    }

    #button1-mobile {
        width: 1.1em;
    }

    #button2-mobile, #button3-mobile, #button4-mobile {
        width: 4em;
    }

    #button2-mobile, #button3-mobile {
        margin-bottom: 0.5em;
    }

    #tictac-box {
        width: 5.5em;
        top: 9.7em;
        right: 2.1em;
    }

    #video-class {
        display: unset;
        width: 15em;
        left: unset;
        right: 0.5em;
        top: unset;
        bottom: 6em;
    }

    #video-class .elementor-wrapper {
        aspect-ratio: 17 / 9;
    }

    /*slider*/
    .snd-bg--video-header {
        display: none;
    }

    #snd-bg--slider {
        display: none;
    }

    #interviews {
        font-size: 0.75em;
        width: 24em;
        right: unset;
        /* transform: translateX(-50%); */
        left: 50%;
        top: 16em;
    }
}


@media (min-aspect-ratio: 9/20) and (max-aspect-ratio: 195/422)  and (max-width: 767px) {
    #interview-el {
        width: 19em;
        top: -11.5em;
        left: -9em;
    }

    #interview-el img {
        content: url("https://elle.com.kz/wp-content/uploads/2016/01/tictac-4.png");
    }

    #rythm-el {
        width: 5.5em;
        top: 3em;
    }

    #play-backstage {
        width: 20em;
        top: -10em;
        right: -10em;
    }

    #video-header1 {
        width: 9em;
        top: 18em;
    }

    #video-header1 .elementor-heading-title {
        font-size: 0.7em;
        line-height: 1.2em;
        right: 0.5em;
    }

    #video-header2 {
        width: 12em;
        top: 23.3em;
        right: 0.5em;
    }

    #video-header2 .elementor-heading-title {
        font-size: 0.7em;
        line-height: 1.2em;
    }

    #woman {
        width: 13.6em;
        height: 50em;
        top: 9em;
        left: -3em;
    }

    #mint-oval {
        width: 20em;
        top: 12em;
        left: -7em;
    }

    #join-el {
        width: 15em;
        bottom: 1.5em;
    }

    #buttons-block {
        display: none;
    }

    #buttons-mobile {
        left: 0.5em;
        bottom: 4em;
        display: flex;
        width: 5.5em;
    }

    #button1-mobile {
        width: 1.1em;
    }

    #button2-mobile, #button3-mobile, #button4-mobile {
        width: 4em;
    }

    #button2-mobile, #button3-mobile {
        margin-bottom: 0.5em;
    }

    #tictac-box {
        width: 5.5em;
        top: 9.7em;
        right: 2.1em;
    }

    #video-class {
        display: unset;
        width: 15em;
        left: unset;
        right: 0.5em;
        top: unset;
        bottom: 6em;
    }

    #video-class .elementor-wrapper {
        aspect-ratio: 17 / 9;
    }
}

@media (min-aspect-ratio: 195/422) and (max-aspect-ratio: 9/16)  and (max-width: 767px) {

}

@media (min-aspect-ratio: 9/16)  and (hover: none) and (max-width: 767px) {

}




    