@media only screen and (max-width: 1536px) {
    selector {

    }
}

@media only screen and (max-width: 1366px) {
    selector {

    }
}

@media only screen and (max-width: 1024px) {
    selector {

    }
}


@media only screen and (max-width: 767px) {
    selector {

    }
}


selector {
    position: absolute;
    top: 153px;
    left: 328px;
    width: 110px;
    height: 137px;

    z-index: 35;
}


@media only screen and (max-width: 1366px) {
    selector {
        top: calc(153px * var(--percent-var));
        left: calc(328px * var(--percent-var));
        width: calc(110px * var(--percent-var));
        height: calc(137px * var(--percent-var));
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        --percent-var: 0.7114;
    }
}