.dysonColor {
    color: #BD64AA;
}

.popupList {
    cursor: pointer;
}

/*rotate*/
.container {
    position: relative;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rotableImage {
    transition: transform 0.5s ease;
}

.hiddenElem {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.visible {
    opacity: 1;
    max-height: initial;
    overflow: hidden;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s linear ;
}